[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cachetools = '*'
flask = '*'
flask-login = '*'
google-auth = '*'
google-auth-oauthlib = '*'
jsons = '*'
mysql-connector-python = "*"
requests = '*'
pyopenssl = '*'
pyyaml = '*'

[requires]
python_version = "3.9"

[dev-packages]
flake8 = "*"
black = "*"

[pipenv]
allow_prereleases = true
