<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>LEADS</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
    </head>

    <body>
        <a href="/auth/login" style="display: block; text-decoration: none; color: gray; width: 50%; margin: 10% 25%; border-radius: 8px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3); ">
            <img src="https://i.pinimg.com/originals/33/42/e4/3342e4ba684ff017acff7382cad86c7f.jpg"  alt="Unauthorized Acess" style="margin: 0 15%"; width="70%" height="500"> 
            <p style="padding: 2% 0; width: 50%; margin: 0 25%; text-align: center;" >GO BACK TO LOGIN PAGE</p>
        </a>
    </body>

</html>